@model Exam
@{
    ViewData["Title"] = "Delete";

}

<h1>Delete</h1>


<form asp-action="Delete" method="post">

    <input asp-for="ExamId" name="Id" hidden class="form-control" />

    <div>
        <label>Exam Name :</label>
        <input name="ExamName" class="form-control" />
    </div>
    <div>
        <label> Lecturers Name:</label>
        <input name="LecturersName" class="form-control" />
    </div>

    <div>
        <label>Student ID:</label>
        <input name="Lectuers" class="form-control" />
    </div>

    <div>
        <label> Greade:</label>
        <input name="Greade" class="form-control" />
    </div>

    <hr>
    <button type="submit" class="btn btn-danger">Delete</button>


</form>