@model Student
@{
    ViewData["Title"] = "Delete";

}

<h1>Delete</h1>


<form asp-action="Delete" method="post">

    <input asp-for="Id" name="Id" hidden class="form-control" />




    <div>
        <label>  Id:</label>
        <input name="Id" class="form-control" />
    </div>
    <div>
        <label>  Name:</label>
        <input name="Name" class="form-control" />
    </div>

    <div>
        <label>Student Id :</label>
        <input name="StudentId" class="form-control" />
    </div>

    <div>
        <label>Lecturers  :</label>
        <input name="Lecturers" class="form-control" />
    </div>

    <div>
        <label> Course Name :</label>
        <input name="CourseName" class="form-control" />
    </div>

    <div>
        <label> Exam Id :</label>
        <input name="ExamId" class="form-control" />
    </div>

    <div>
        <label>  Greades :</label>
        <input name="Greades" class="form-control" />
    </div>





    <hr>
    <button type="submit" class="btn btn-danger">Delete</button>


</form>