
@model Employee
@{
    ViewData["Title"] = "Delete";

}

<h1>Delete</h1>


<form asp-action="Delete" method="post">

    <input asp-for="Id" name="Id" hidden class="form-control" />

    <div>
        <label>Employee Name:</label>
        <input name="Name" class="form-control" />
    </div>
    <div>
        <label>Student Id:</label>
        <input name="StudentId" class="form-control" />
    </div>

    <div>
        <label>Lectuers:</label>
        <input name="Lectuers" class="form-control" />
    </div>

    <hr>
    <button type="submit" class="btn btn-danger">Delete</button>


</form>