@model TrainingCenterCourse
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>


<form asp-action="Edit" method="post">



    <div>
        <label>ID:</label>
        <input asp-for="Id" name="Id" class="form-control" />
    </div>
    <div>
        <label>Course Name:</label>
        <input asp-for="CourseId" name="CourseId" class="form-control" />
    </div>

    <div>
        <label>Start Date:</label>
        <input asp-for="StartDate" name="StartDate" class="form-control" />
    </div>

    <div>
        <label>End Date:</label>
        <input asp-for="EndDate" name="StartDate" class="form-control" />
    </div>

    
    <hr>
    <button type="submit" class="btn btn-primary">Save</button>


</form>