@model Grade
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>


<form asp-action="Create" method="post">

    <div>
        <label> Student Id:</label>
        <input name="StudentId" class="form-control" />
    </div>
    <div>
        <label> Exam Name :</label>
        <input name="ExamName" class="form-control" />
    </div>

    <div>
        <label>Exam Id :</label>
        <input name="ExamId" class="form-control" />
    </div>




    <hr>
    <button type="submit" class="btn btn-primary">Save</button>


</form>