@model Grade
@{
    ViewData["Title"] = "Delete";

}

<h1>Delete</h1>


<form asp-action="Delete" method="post">

    <input asp-for="Id" name="Id" hidden class="form-control" />


    <div>
        <label> Student Id:</label>
        <input name="StudentId" class="form-control" />
    </div>
    <div>
        <label> Exam Name :</label>
        <input name="ExamName" class="form-control" />
    </div>

    <div>
        <label>Exam Id :</label>
        <input name="ExamId" class="form-control" />
    </div>







    <hr>
    <button type="submit" class="btn btn-danger">Delete</button>


</form>